#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

&sk { release-after-ms = <1500>; };

/ {
    behaviors {
        para: para {
            compatible = "zmk,behavior-tap-dance";
            label = "PARA";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        brace: brace {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACE";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;
        };

        bracket: bracket {
            compatible = "zmk,behavior-tap-dance";
            label = "BRACKET";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        ctrl_tab: ctrl_tab {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_TAB";
            bindings = <&adv_lt 3 SPACE>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        ctrl_del: ctrl_del {
            compatible = "zmk,behavior-mod-morph";
            label = "CTRL_DEL";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };

        adv_lt: adv_lt {
            compatible = "zmk,behavior-hold-tap";
            label = "ADV_LT";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;

            quick-tap-ms = <100>;
            require-prior-idle-ms = <75>;
        };

        mod_com: mod_com {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_COM";
            bindings = <&kp COMMA>, <&kp SEMICOLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mod_per: mod_per {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_PER";
            bindings = <&kp PERIOD>, <&kp COLON>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        adv_repeat: adv_repeat {
            compatible = "zmk,behavior-hold-tap";
            label = "ADV_REPEAT";
            bindings = <&kp>, <&key_repeat>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <60>;
            require-prior-idle-ms = <60>;
            flavor = "tap-preferred";
        };

        shift_para: shift_para {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_PARA";
            bindings = <&para>, <&kp RIGHT_PARENTHESIS>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        shift_bracket: shift_bracket {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_BRACKET";
            bindings = <&bracket>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        shift_angle: shift_angle {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_ANGLE";
            bindings = <&angle_brckt>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        sk_mod: sk_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "SK_MOD";
            bindings = <&kp>, <&sk>;

            #binding-cells = <2>;
            tapping-term-ms = <90>;
            flavor = "tap-preferred";
        };

        s_shift_td: s_shift_td {
            compatible = "zmk,behavior-tap-dance";
            label = "S_SHIFT_TD";
            #binding-cells = <0>;
            bindings = <&sk LEFT_SHIFT>, <&caps_word>;

            tapping-term-ms = <180>;
        };

        s_shift: s_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "S_SHIFT";
            bindings = <&kp>, <&s_shift_td>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        angle_brckt: angle_brckt {
            compatible = "zmk,behavior-tap-dance";
            label = "ANGLE_BRCKT";
            #binding-cells = <0>;
            bindings = <&kp LESS_THAN>, <&kp GREATER_THAN>;
        };

        shift_brace: shift_brace {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_BRACE";
            bindings = <&brace>, <&kp RIGHT_BRACE>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <260>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-on-release;
            hold-trigger-key-positions = <16 15 14 13>;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <260>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-on-release;
            hold-trigger-key-positions = <41>;
        };

        quick_tap: quick_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "QUICK_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <100>;
            quick-tap-ms = <70>;
            require-prior-idle-ms = <200>;
            flavor = "tap-preferred";
        };

        layer_tap: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
        };

        gt_lt_tap: gt_lt_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "GT_LT_TAP";
            #binding-cells = <0>;
            bindings = <&lte>, <&gte>;
        };
    };

    macros {
        browsertab: browsertab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        per_auto: per_auto {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp SPACE &sk LEFT_SHIFT>;
            label = "PER_AUTO";
        };

        com_auto: com_auto {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp SPACE>;
            label = "COM_AUTO";
        };

        exl_auto: exl_auto {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EXCLAMATION &kp SPACE &sk LEFT_SHIFT>;
            label = "EXL_AUTO";
        };

        ques_auto: ques_auto {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp QUESTION &kp SPACE &sk LEFT_SHIFT>;
            label = "QUES_AUTO";
        };

        sci_ho: sci_ho {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp H &kp O>;
            label = "SCI_HO";
        };

        sci_sp: sci_sp {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp M>;
            label = "SCI_SP";
        };

        sci_sc: sci_sc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp C>;
            label = "SCI_SC";
        };

        inner_word: inner_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp W>;
            label = "INNER_WORD";
        };

        lte: lte {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp EQUAL>;
            label = "LTE";
        };

        gte: gte {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GT &kp EQUAL>;
            label = "GTE";
        };
    };

    combos {
        compatible = "zmk,combos";

        sym_8 {
            bindings = <&kp RA(U)>;
            key-positions = <8 20>;
        };

        alt-a {
            bindings = <&kp RA(A)>;
            key-positions = <20 32>;
        };

        sci-ho {
            bindings = <&sci_ho>;
            key-positions = <19 31>;
        };

        sci-sp {
            bindings = <&sci_sp>;
            key-positions = <16 4>;
        };

        sci-sc {
            bindings = <&sci_sc>;
            key-positions = <16 28>;
        };

        iw {
            bindings = <&inner_word>;
            key-positions = <23 22>;
        };

        shift_layer {
            bindings = <&sl 0>;
            key-positions = <37 40>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp TAB                            &kp B  &kp L  &kp P        &kp M      &kp X        &kp LS(LG(S))    &kp F           &kp O                        &kp U     &kp J     &kp LG(SPACE)
&s_shift_td                        &kp D  &kp R  &kp T        &kp S      &kp V        &kp Y            &kp N           &kp A                        &kp E     &kp I     &mt RIGHT_SHIFT SLASH
&sk_mod LEFT_CONTROL LEFT_CONTROL  &kp G  &kp W  &kp K        &kp C      &kp Q        &kp Z            &kp H           &kp SQT                      &mod_per  &mod_com  &mt RIGHT_ALT MINUS
                                                 &key_repeat  &ctrl_del  &ctrl_tab    &adv_lt 1 ENTER  &layer_tap 2 2  &sk_mod RIGHT_GUI RIGHT_GUI
            >;
        };

        NUM {
            display-name = "Num";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&trans  &none      &kp AMPERSAND    &kp GREATER_THAN  &kp PERCENT   &kp NON_US_BACKSLASH    &kp NUMBER_6    &kp N7        &kp N8        &kp N9        &kp N0       &trans
&mo 5   &kp LC(A)  &kp EXCLAMATION  &kp EQUAL         &kp PLUS      &kp MINUS               &shift_para     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp N0       &kp LEFT_GUI
&trans  &kp LC(X)  &kp PIPE         &kp LESS_THAN     &kp ASTERISK  &kp SLASH               &shift_bracket  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &key_repeat  &trans
                                    &layer_tap 6 6    &trans        &adv_lt 4 SPACE         &trans          &trans        &trans
            >;
        };

        SYM {
            display-name = "Sym";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCL    &kp AT           &kp HASH      &kp DLLR      &kp PRCNT    &kp CARET       &kp AMPS     &kp ASTRK     &kp LEFT_PARENTHESIS  &kp RPAR   &kp QUESTION
&trans  &gt_lt_tap  &kp EXCLAMATION  &kp QUESTION  &kp PLUS      &kp MINUS    &shift_para     &kp EQUAL    &shift_brace  &shift_angle          &kp GRAVE  &trans
&trans  &kp PIPE    &exl_auto        &ques_auto    &kp ASTERISK  &kp SLASH    &shift_bracket  &key_repeat  &trans        &mod_per              &mod_com   &kp BACKSLASH
                                     &trans        &trans        &kp SPACE    &kp ENTER       &trans       &trans
            >;
        };

        NAV {
            display-name = "Nav";
            bindings = <
&kp TAB                               &kp LG(E)              &kp LG(Q)                  &kp LG(W)                  &kp LG(R)                          &kp LG(LS(T))           &trans                 &kp HOME      &kp PG_DN           &kp PG_UP         &kp END        &kp LG(L)
&browsertab                           &s_shift LEFT_SHIFT 0  &sk_mod LEFT_GUI LEFT_GUI  &sk_mod LEFT_ALT LEFT_ALT  &sk_mod LEFT_CONTROL LEFT_CONTROL  &kp LG(F)               &kp LS(LG(R))          &kp LEFT      &kp DOWN_ARROW      &kp UP_ARROW      &kp RIGHT      &kp F2
&kp C_AC_NEXT_KEYBOARD_LAYOUT_SELECT  &kp LG(Z)              &kp LG(X)                  &kp LG(C)                  &kp LG(V)                          &kp LG(LEFT_BRACKET)    &kp LG(RIGHT_BRACKET)  &kp LC(LEFT)  &kp LC(DOWN_ARROW)  &kp LC(UP_ARROW)  &kp LC(RIGHT)  &trans
                                                                                        &trans                     &trans                             &trans                  &adv_lt 4 ENTER        &trans        &trans
            >;
        };

        Configure {
            bindings = <
&kp TAB         &kp C_BRI_UP       &kp LC(LA(LG(N8)))    &kp LC(LS(LG(P)))     &kp LG(LC(LS(M)))         &kp C_VOLUME_UP      &kp C_NEXT  &kp LC(LS(LEFT))  &kp LC(DOWN)       &kp LC(UP_ARROW)       &kp LS(LC(RIGHT))  &kp LG(SPACE)
&kp ESCAPE      &kp LC(LS(LG(D)))  &kp LG(LS(LC(R)))     &kp LG(LS(LC(T)))     &kp LS(LG(LC(S)))         &kp K_MUTE           &kp C_PP    &kp LS(LG(LEFT))  &kp LG(LS(SPACE))  &kp LC(LA(LG(SPACE)))  &kp LS(LG(RIGHT))  &kp LC(LS(LG(SLASH)))
&studio_unlock  &kp C_BRI_DN       &kp LG(LS(NUMBER_3))  &kp LG(LS(NUMBER_4))  &kp LG(LC(LS(NUMBER_4)))  &kp C_VOLUME_DOWN    &kp C_PREV  &kp F16           &kp F17            &kp F18                &kp LG(M)          &bootloader
                                                         &none                 &none                     &trans               &trans      &none             &none
            >;

            label = "Conf";
        };

        Mini-nav {
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5    &trans  &trans          &trans          &trans        &trans     &trans
&trans  &trans        &trans        &trans        &trans        &trans    &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans
&trans  &trans        &trans        &trans        &trans        &trans    &trans  &trans          &trans          &trans        &trans     &trans
                                    &trans        &trans        &trans    &trans  &trans          &trans
            >;

            label = "Mini";
        };

        Fun {
            bindings = <
&trans  &trans                         &trans                     &trans                     &trans                             &trans    &trans  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &sk_mod LEFT_SHIFT LEFT_SHIFT  &sk_mod LEFT_GUI LEFT_GUI  &sk_mod LEFT_ALT LEFT_ALT  &sk_mod LEFT_CONTROL LEFT_CONTROL  &trans    &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans  &trans                         &trans                     &trans                     &trans                             &trans    &trans  &kp F1  &kp F2  &kp F3  &kp F12  &trans
                                                                  &trans                     &trans                             &trans    &trans  &trans  &trans
            >;

            label = "Fun";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
